body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

main {
    padding: 20px;
}

canvas {
    background-color: #000;
    display: block;
    margin: 0 auto;
}
